h1{color: purple;}
h2{color: yellow; font-weight: bold;}
h3{color: orange; font-weight: bold;}
h4{color: blue; font-weight: bold;}
h5{color: red; font-weight: bold;}
h6{color: green; font-weight: bold;}
h7{color: grey;}
h8{color: brown; font-weight: bold;}
h9{color: black; font-weight: bold;}
h10{color: pink; font-weight: bold;}